:host {
  & .cartas-container {
    height: 100%;
    box-sizing: border-box;
    // display: grid;
    background-color: #2196f3;
    padding: 5px;

    & > .area-carta {
      height: 100%;
      box-sizing: border-box;
      // display: grid;
      background-color: #03e09e;
      padding: 10px;

      & > .imagen-carta {
      }

      & > .textos-carta {
      }
    }
  }
}
