<div class="container mx-auto">
  <div class="grid grid-cols-2" *ngIf="carta">
    <app-imagen-carta
      class="flex justify-center"
      [imagen]="carta.card_images[0].image_url"
      [efectoHover]="false"
    ></app-imagen-carta>
    <div>
      <h1>{{ carta.name }}</h1>
      <div class="grid grid-cols-2">
        <div>
          <div class="propiedades">
            <h3>Tipo / Atributo</h3>
            <span>{{ carta.type + " / " + carta.attribute }}</span>
          </div>
          <div class="propiedades">
            <h3>Descripción:</h3>
            <p>{{ carta.desc }}</p>
          </div>
          <div class="propiedades">
            <h3>ATK / DEF</h3>
            <span>{{ carta.atk + " / " + carta.def }}</span>
          </div>
        </div>
        <div class="propiedades">
          <h3>Precio</h3>
          <span class="precio">${{ carta.card_prices[0].tcgplayer_price }}</span>
          <br>
          <button class="add-carrito" (click)="addCarrito()">Añadir al Carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>
