<div [hidden]="submitted">
    <h1>LOGIN</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" [ngClass]="{'error': (!email.valid && !email.pristine)}" id="email" required [(ngModel)]="login.email" name="email"
                #email="ngModel" placeholder="Introduce tu correo electrónico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <!-- <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Campo requerido
            </div> -->
        </div>

        <div class="form-group">
            <label for="passwd">Contraseña</label>
            <input type="password" class="form-control" [ngClass]="{'error': (!passwd.valid && !passwd.pristine)}"id="passwd" required [(ngModel)]="login.passwd" name="passwd"
                #passwd="ngModel" placeholder="Introduce tu contraseña">
            <!-- <div [hidden]="passwd.valid || passwd.pristine" class="alert alert-danger">
                Campo requerido
            </div> -->
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Entrar</button>
    </form>
    <button type="button" class="btn btn-info" (click)="onChangeShowLogin.emit(false)">Regístrate aquí</button>
</div>
