@import 'global.scss';

:host {
  & .listado-cartas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  & .paginacion{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    & a {
      padding: 8px;
      border: 1px solid pink;
      cursor: pointer;
    }
  }
}
