<form>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre"><br><br>

    <label for="nombre">Apellidos:</label>
    <input type="text" id="nombre" name="nombre"><br><br>
  
    <label for="direccion">Dirección:</label>
    <input type="text" id="direccion" name="direccion"><br><br>
  
    <label for="ciudad">Ciudad:</label>
    <input type="text" id="ciudad" name="ciudad"><br><br>
  
    <label for="estado">Provincia:</label>
    <input type="text" id="estado" name="estado"><br><br>
  
    <label for="codigo_postal">Código Postal:</label>
    <input type="text" id="codigo_postal" name="codigo_postal"><br><br>
  
    <label for="pais">País:</label>
    <input type="text" id="pais" name="pais"><br><br>
  
  </form>

  <button (click)="completarPago()">Proceder al pago</button>
  <button (click)="cancelarFacturacion()">Cancelar</button>

